{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}
<section class="intro">
  <div class="heading-container w-50 text-left mb-2">
    <p class="heading-1 typewriter">Signature</p>
    <p class="heading-2 w-75 me-0">Verification</p>
  </div>
  <div class="mx-auto d-flex justify-content-center gap-5">
    <a href="log_in" class="btn btn-lg btn-outline-dark">Login</a>
    <a href="register" class="btn btn-lg btn-outline-dark">Register</a>
  </div>
</section>
{% endblock body %}